<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Administrador</title>
</head>
<body>
    <h1></h1>
    <div class="pagina_Administrador">
        <p>Pagina Administrador</p>
    </div>

      <div class="categorias">
        <a href="/categorias">Categorias</a>
    </div>

      <div class="productos">
        <a href="/productos">Productos</a>
    </div>  

        <div class="imagenes">
            <a href="/imagenes">Imagenes</a>
        </div>
    
</body>
</html>