<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/categorias.css">
    <title>categoria</title>
</head>
<body>
    <h1>Pagina Categorias</h1>
    <div class="funciones">
    <a href="/home">Home</a>
    <a href="/categorias">Categorias</a>
    <a href="/productos">Productos</a>
    <a href="/imagenes">Imagenes</a>
    </div>
    
    <div>
        <table border="1">
            <caption>Categorias</caption>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <td><a href="/ctgagg">Agregar</a></td>
            </tr>
            <tr>
                <% if (categorias) { %>
                    <% for (let i = 0; i < categorias.length; i++){  %>
                        <% if (categorias) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= categorias[i].nombre %></td>
                                <td>
                                    <div class="input-group">
                                        <a href="/ctgdelete/<%= categorias[i].id%>" class="btn btn-danger">Eliminar</a>
                                        <a href="/ctgedit/<%= categorias[i].id%>" class="btn btn-info">Actualizar</a>
                                    </div>
                                </td>
                            </tr>    
                        <% } %>
                    <% } %>
                <% } else { %>
                        <tr>
                            <th>No hay categorias en el sistema</th>
                        </tr>
                    <% }   %>
            </tr>
        </table>
    </div>
</body>
</html>