<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Imagen</title>
    <link rel="stylesheet" href="/stylesheets/edim.css">
</head>
<body>
    <div>
        <form action="/updateimg/<%= imagenes.id %>" method="post">
            <h1>Actualizar Imagen</h1>
            <input type="text" name="url" id="url" value="<%= imagenes.url %>" required maxlength="200" minlength="3">
            <select name="destacado" id="destacado">
                <option value="">--Seleccione--</option>
                <option value="Si">Si</option>
                <option value="No">NO</option>
            </select>
            <button type="submit" class="btn btn-primary">Actualizar Imagen</button>
        </form>
    </div>
</body>
</html>