<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Pagina Error</h1>
    <p>Esta ocurriendo un Error en las rutas</p>
</body>
</html>