body{
    background-color:rgb(41, 80, 104);
    margin: 0px;
}

form{
    margin-left : 60px; 
    font-size: 27px;
    background:white;
    Border-radius: 50px;
    margin-right: 60px;
    padding: 0px  400px;
    margin-top: 20px;
    
}

h1{
    margin-left : 100px; 
    margin-bottom: 10px ;
}