body{
    background-color:rgb(41, 80, 104);
    margin: 0px;
}

div{
    margin-left : 60px; 
    font-size: 27px;
    background:white;
    Border-radius: 50px;
    margin-left : 60px; 
    padding: 0px  240px;
    margin-top: 20px;
    
}

h3{
    margin-left : 150px; 
}

form{
    padding: 0px  350px;
   
}

button{
    margin-left : 0px; 
    padding: 0px  0px;
}

img{
    width: 100px;
    height: 100px;
}